---
import Layout from "../../layouts/Layout.astro";
import directus from "../../lib/directus";
import { readItems } from "@directus/sdk";

const posts = await directus.request(
	readItems("posts", {
		fields: ["slug", "title", "content", "author", "published_date"],
	})
);
const post = posts.filter((p) => p.slug == Astro.params.slug)[0];
---

<Layout title={post.title}>
	<main>
		<h1>{post.title}</h1>
		<div set:html={post.content} />
	</main>
</Layout>
